.container {
  display: flex;
  flex-direction: column;

  width: 280px;
  height: 100vh;

  padding: 20px 24px;

  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;

  position: sticky;
  top: 0;
  z-index: 100;

  @media only screen and (max-width: 600px) {
    display: flex;
    height: 100px;
    width: 100%;

    padding: 20px 40px;

    z-index: 100;
    position: static;
  }

  &__buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    margin: 12px 0;

    @media only screen and (max-width: 600px) {
    }
  }
}
